@import "../../colors.scss";
@import '../../App.scss';

.error-msg {
    color: red;
    height: 30px;
    min-width: 5px;
}

.link {
    text-decoration: underline;
    color: blue;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.title {
    color: $textP !important;
    margin-bottom: 1.5rem;
}

.my-form-row {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    @include phone {
        width: 100%;
    }
}

.my-last-row {
    @extend .my-form-row;
    display: flex;
}

.form-btn {
    margin-top: 0rem !important;
    background-color: $secondary !important;
    border-color: $teritary !important;
    color: $textS !important;
    margin-left: auto;
    margin-right: 0rem;
}

.signin-btn {
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 0rem !important;
    background-color: $secondary !important;
    border-color: $teritary !important;
    color: $textS !important;
    margin-left: auto;
    margin-right: 0rem;
}

.signin-bg {
    min-height: 100vh;
    background-color: $primary;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    @include phone {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.all-signin-bg {
    min-height: 100vh;
    background-color: $primary;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 2rem;
    @include phone {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 1rem;
    }
}

