@import "../../App.scss";

.home-bg {
    background-color: $primary;
    min-height: 100vh;
}

.first_section {
    @extend .side_paddings;
    color: $textP;
    padding-top: 15px;
}

.second_section {
    @extend .side_paddings;
    color: $textP;
    padding-top: 15px;
}

.third_section {
    @extend .side_paddings;
    color: $textS;
    padding-top: 15px;
    background-color: $secondary;
    white-space: pre-line;
    padding-bottom: 15px;
}

.row_card {
    width: 100%;
    min-height: 355px;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap !important;
    &::-webkit-scrollbar {
        width: 10px; /* Chrome & Safari & Opera */
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px $secondary;
        background: $textS;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: $secondary;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: $teritary;
    }
    scrollbar-width: 10px; /* Firefox */
    @include phone {
        &::-webkit-scrollbar {
            display: none;
        }
        /* Hide scrollbar for IE, Edge and Firefox */
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

.my-jumbotron {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat; 
    color: $textS;
    background-image: url("../../assets/jumbotron.jpg");
    font-size: 2.5rem;
    font-weight: bold;
    border-radius: 0rem !important;
    @include phone {
        font-size: 2rem;
        background-size: auto;
    }
}
