@import "../../colors.scss";
@import '../../App.scss';

$my-heigth: 50px;

.header {
    background-color: $teritary;
}

.title {
    color: $textS;
}

.my-navbar-toggler {
    background-color: $teritary !important;
    font-size: 0.85rem !important;
    margin-left: 1rem !important;
    height: 42px;
}

.btn-right {
    background-color: $teritary !important;
    border: 0rem;
    padding: 0rem;
    color: $textS;
    border-radius: 0.25rem;
    height: -webkit-fill-available;
    &:hover {
        opacity: 0.5;
    }
}

.dropdown {
    border: 0rem !important;
    padding: 0rem !important;
    margin-top: auto !important;
    margin-bottom: auto;
    height: $my-heigth;
    &:focus {
        box-shadow: none !important;
    }
}

.dropdown-container {
    background-color: $teritary !important;
    color: $textS;
    border-radius: 0.25rem;
    &:hover {
        opacity: 0.5;
    }
}

.my-nav-item {
    margin-left: 1rem;
    height: $my-heigth;
    background-color: $teritary !important;
    @include phone {
        margin-left: 0rem;
    }
}

.btn-search {
    height: 100%;
    margin-top: 0rem !important;
    color: $textS !important;
    border-color: $textS !important;
}

.logo {
    width: 42px;
    height: 42px;
    margin-left: 1rem;
}

.icon-text {
    vertical-align: super;
    display: none;
    font-size: 1.5rem;
    @include phone {
        display: block;
    }
}

.icon-row {
    display: block;
    @include phone {
        display: flex;
    }
}

.icon-photo {
    margin-right: 0.5rem;
}