$primary: #be9b7b;//RGB (190,155,123)
$secondary: #3c2f2f;//RGB (60,47,47)
$teritary: #854442;//RGB (133,68,66)
$textP: #4b3832;//RGB (75,56,50)
$textS: #fff4e6;//RGB (255,244,230)
$gold: #FFD700;//RGB (255,215,0)


