@font-face {
  font-family: "Helvetica";
  src: local("Helvetica"), url(./assets/HelveticaInseratLTStd-Roman.otf) format("truetype"),
    url(./assets/HelveticaInseratLTStd-Roman.otf) format("woff"),
    url(./assets/HelveticaInseratLTStd-Roman.otf) format("woff2");
}

@font-face {
  font-family: "Hll";
  src: local("Hll"), url(./assets/HLL.ttf) format("truetype"),
    url(./assets/HLL.ttf) format("woff"),
    url(./assets/HLL.ttf) format("woff2");
}

@font-face {
  font-family: "Hlli";
  src: local("Hlli"), url(./assets/HLLI.ttf) format("truetype"),
    url(./assets/HLLI.ttf) format("woff"),
    url(./assets/HLLI.ttf) format("woff2");
}

body {
  margin: 0;
  font-family: "Hlli" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Hell";
}
